body
  form(action='/register', method='POST')
      input(type='text', name='username',id='name', value='')
      input(type='email', name='email',id='email', value='')
      input(type='password', name='password',id='password', value='')
      input(type='submit', value='Registrarse')