html
    head 
        title test
    body 
        a(href="/register") Registrarse
        div
            table
                thead
                    tr
                        th Name
                        th Email 
                tbody
                    each visit in visitors
                        tr
                            td= visit.name
                            td= visit.email 